<a href="https://colab.research.google.com/github/roksess99/SQLinColob/blob/main/Eindopdracht_Data_mDDB_24_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Eindopdracht Business Discipline Data

## Algemene informatie

**Inleveren**: Het uitgewerkte Jupyter Notebook (het .ipynb bestand) lever je **20 oktober 23:59** via **GRADEWORK** in. Let op dat je echt een .ipynb bestand inlevert. Zet jullie namen onderaan in het Notebook. Je levert als groepje één notebook in.

## De opdracht

Deze eindopdracht bestaat uit **16 deelopdrachten**. Iedere deelopdracht heeft een uitleg.

**Wat belangrijke informatie:**

*     In **deelopdracht 1** bedenken jullie een casus, daar bouwen de verdere deelopdrachten op door. Lees dus eerst alle opdrachten door.

*     In **deelopdracht 2** bedenken julie (minstens) twee gerelateerde tabellen met data bij jullie casus. Ook daar bouwen de verdere deelopdrachten op door. Kies goed, en pas als het beter werkt je tabellen gaandeweg nog aan.

*     Als er **"[CODE]"** in de titel van de deelopdracht staat moet je (ook) een stukje Python of SQL code aanleveren. Let op dat de code werkt zonder errors (syntax fouten), anders kan je nog maar halve punten halen voor die opdracht.

*     Onder iedere vraag of opdracht is een lege cel om het antwoord in te geven, je mag daar zo veel cellen als je wilt aan toevoegen, maar pas niets aan in cellen die al gevuld zijn tenzij dat er expliciet staat.

*     Hou het simpel, de casus is maar een kapstok, het gaat om de principes van Python/SQL/BI/Data(science).

*     Succes!

### Dit is het notebook van de studenten:

*...[vul hier een naam in]...*

*...[vul hier een naam in]...*

*...[vul hier een naam in]...*

*...[vul hier een naam in]...*

## Opdracht 1: Beschrijf jullie casus (max 300 woorden)

*    Beschrijf een (fictieve) casus waarbij een bedrijf/organisatie data verzamelt waar mogelijk businessvragen mee te beantwoorden zijn. Geef ook een indicatie (met minstens één concreet voorbeeld) bij welke processen de data zouden kunnen helpen om inzicht te krijgen in aspecten die relevant zijn voor besluitvorming.

*    Beschrijf in wat voor vormen data voorhanden is (gestructureerd, semi-gestructureerd, ongestructureerd). Geef minsten van één soort data aan waarom het onder een van die drie categorieën valt. *(In de verdere opdracht gaan we verder uit van data in tabellen.)*

*    Beschrijf welke hindernissen jullie organisatie mogelijk zou hebben ervaren in het (goed) beschikbaar krijgen en/of effectief inzetten van die data. Noem hierbij hoe (in wat voor systemen) de data waarschijnlijk opgeslagen is.

*... [Vul hier jullie antwoord(en) in] ...*

## Opdracht 2: Datatabellen aanleveren [CODE]

Op basis van de casus van opdracht 1 gaan jullie (minstens) twee tabellen aanleveren.

Dit doe je door iedere kolom in te voeren als een python list. Een tabel bestaat uit meerdere kolommen. Zie het voorbeeld in de code-cel hieronder.

In [ ]:
#voorbeeld van een tabel met drie kolommen en vijf rijen
tabel1_klantid = [1,2,3,4,5]
tabel1_klantnaam = ['Henk','Bert','Ernie','Alice','Bob']
tabel1_leeftijd = [52,11,12,26,32]

#voorbeeld van een tabel met drie kolommen en drie rijen - te koppelen aan de ander met klantid
tabel2_orderid = [1,2,3]
tabel2_klantid = [3,3,5]
tabel2_productnaam = ['wasmachine','stijkijzer','magnetron']

**De eisen aan jullie tabellen:**

1. De (minstens) twee tabellen bevatten significante en bruikbare data conform het entity-relationship model dat bij de casus hoort.
2. Iedere tabel heeft minstens 3 kolommen en 8 rijen.
3. Minstens één kolom met numerieke waarden (getallen), en minstens één kolom met categorieën (zoals man/vrouw, audi/fiat/BMW/.., etc.)
4. Er zijn (minstens twee) tabellen te koppelen, deze hebben dus een gezamenlijke kolom (bijv. een id of datum). De te maken koppeling moet logisch zijn.

Opmerkingen:
- In werkelijkheid bestaat bedrijfsdata natuurlijk (bijna) altijd uit meer dan 8 rijen (meestal heb je meerder dan 8 klanten, orders, medewerkers, etc.), maar doe alsof het een deel van alle data is.
- Als je eigen data gaat bedenken, probeer het realistisch te maken. Zogenaamde "gesimuleerde" of "synthetische data" gebruikt men vaker om te oefenen of om aan te tonen dat bepaalde oplossingen werken.

**Hou het simpel!** Dit is nogal handmatig werk. Het gaat erom dat je minstens twee zinvolle tabellen kan vormgeven, en een Python-list kan aanmaken.

In [ ]:
# Vul hieronder jullie eigen tabellen in de vorms van lists:

## Opdracht 3: Je data in een SQL database.
We gaan nu de tabellen in een SQL database zetten. **Lees eerst deze opdracht goed door.** Verderop in opdracht 3 staat "VUL HIER IN" waar je zelf SQL-code zal moeten schrijven.

#### **Voor je met SQL kan werken in dit notebook, moet je eerst deze cellen runnen** (je hoeft ze niet te snappen maar uitleg staat er bij):

In [ ]:
# Dit zijn python packages waarmee python met SQL kan werken
import sqlite3
import sqlalchemy

# Dit is een veel gebruikte python package, vooral de dataframes (soort tabellen) zijn handig
import pandas as pd

# Onderstaande maakt een database genaamd tijdelijkeDB aan.
conn = sqlite3.connect('tijdelijkedDB.db')

In [ ]:
%load_ext sql
%sql sqlite:///tijdelijkedDB.db

De cel hierboven zorgt ervoor dat als je een cel begint met %%sql, je met SQL code kan werken (want Notebooks zijn eigenlijk Python).

#### Uitleg en voorbeeld

Jullie gaan nu je tabellen invoeren in de database. Kijk eerst naar onderstaande **voorbeeld**. Dit laat de stappen zien hoe een tabel genaamd "sales" kan worden:
*   aangemaakt (met CREATE TABLE),
*   gevuld (met INSERT INTO),
*   geraadpleegd (met SELECT).

**Voorbeeld aanmaken tabel "sales_tabel" met CREATE TABLE:**

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS sales_tabel(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed varchar(3),
    price     float
    );

Bovenstaande maakt de tabel aan, met de kolommen: key / ts / product / completed / price. De tabel heeft nog geen rijen. Die kunnen we met INSERT invoegen.

**Voorbeeld vullen tabel "sales_tabel" met INSERT INTO:**

In [ ]:
%%sql
INSERT INTO sales_tabel
VALUES ('sale_1', '2019-11-08 00:00', 1, 'Yes', 1.1),
       ('sale_2', '2019-11-08 01:00', 1,  'No', 1.2),
       ('sale_3', '2019-11-08 01:00', 3, 'Yes', 1.3),
       ('sale_4', '2019-11-08 01:00', 2,  'No', 1.4),
       ('sale_5', '2019-11-08 02:00', 1, 'Yes', 1.5),
       ('sale_6', '2019-11-08 02:00', 1,  'No', 1.5);

Bovenstaande INSERT zorgt ervoor dat er 6 rijen worden toegevoegd. Je ziet ook 6 rijen terug in de code. Iedere kolom moet je iets voor aanleveren.

Een INSERT kan je herhaaldelijk uitvoeren, dan worden er gewoon iedere keer dat aantal rijen aan je tabel toegevoegd.

Nu is je tabel ook gevuld. Met SELECT kunnen we die vervolgens opvragen, zoals we kennen.

**Voorbeeld raadplegen tabel "sales_tabel" met SELECT:**

In [ ]:
%%sql
SELECT * FROM sales_tabel;

### Nu voor jullie eigen tabellen:

Jullie gaan nu jullie eigen tabellen aanmaken en vullen in SQL. Dit kan met precies dezelfde tabellen als bij opdracht 2.

Check ook of je tabellen wel echt te koppelen (joinen) zijn. Je hoeft geen rekening te houden met primary en foreign keys te specificeren (maar nadenken over wat de PK is van een tabel kan helpen in de join-opdracht). **Zorg ervoor dat minstens een van de tabellen numerieke data (getallen) bevat, zodat we hier later mee kunnen gaan rekenen.**

**Bonusvraag** (*niet verplicht*, maar wel gewaardeerd): Maak een **koppeltabel** om twee (data-)tabellen te verbinden (join).

Note: Het maken van tabellen in een database was geen onderdeel van de lesstof en hier zal je ook niet op beoordeeld worden, maar dit is nodig voor de rest van de opdracht. Kom je er echt niet uit? Vraag dan de docenten om hulp. Zie ook: https://www.w3schools.com/sql/sql_create_table.asp en https://www.w3schools.com/sql/sql_insert.asp

#### Eerste tabel aanmaken

Pas dit aan in de onderstaande ("CREATE TABLE") code:
- Gebruik jullie eigen tabelnaam in plaats van naam_tabelnaam
- Gebruik het juiste aantal kolommen voor jullie tabel. Mogelijk haal je hieronder dus kolommen weg, of voeg je ze toe.
- Gebruik jullie eigen kolomnamen.
- Gebruik het juiste type voor de kolommen: integer/float voor getallen, varchar(6) voor tekst. (De andere types zijn optioneel.)

In [ ]:
%%sql
    --- ... PAS DE VOORBEELDCODE HIERONDER AAN

CREATE TABLE IF NOT EXISTS jullie_tabelnaam(
    voorbeeld_kolom1  varchar(6),
    voorbeeld_kolom2  timestamp,
    voorbeeld_kolom3  integer,
    voorbeeld_kolom4  boolean,
    voorbeeld_kolom5  float

    --- ... PAS DE VOORBEELDCODE HIERBOVEN AAN
);

Extra informatie: Wil je een tabel wissen, zodat je deze opnieuw kan aanmaken? Voer uit: DROP TABLE en de naam van de tabel. Zie hieronder:

In [ ]:
%%sql
DROP TABLE kies_hier_tabelnaam;

#### Eerste tabel vullen

Vul jullie tabel nu, door de voorbeeldcode hieronder aan te passen.
*   Mogelijk hebben jullie een ander aantal kolommen dan 5 zoals in het voorbeeld, pas dat dan aan uiteraard.
*   Waarschijnlijk hebben jullie méér dan 2 rijen data, voeg die rijen toe. Let op dat de laatste rij géén komma na het laatste haakje heeft.
*   Gebruik dezelfde data als bij opdracht 2.

In [ ]:
%%sql
    --- ... PAS DE VOORBEELDCODE HIERONDER AAN

INSERT INTO jullie_tabelnaam
VALUES ('sale_1', '2019-11-08 00:00', 1, 'Yes', 1.1),
       ('sale_2', '2019-11-08 01:00', 1,  'No', 1.2)


    --- ... PAS DE VOORBEELDCODE HIERBOVEN AAN
       ;

#### Tweede tabel aanmaken en vullen

Doe hetzelfde als hierboven, maar dan voor de 2e tabel.

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS naam_tabelnaam2(

-- ... VUL HIER ZELF IN

);

In [ ]:
%%sql
INSERT INTO naam_tabelnaam2
VALUES

--- ... VUL HIER ZELF IN

      ;

#### **Bonusvraag** (*niet verplicht*, maar wel gewaardeerd): koppeltabel aanmaken en vullen

Doe hetzelfde als hierboven, maar dan voor de koppeltabel.

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS naam_tabelnaam3(

-- ... VUL HIER ZELF IN

);

In [ ]:
%%sql
INSERT INTO naam_tabelnaam3
VALUES

--- ... VUL HIER ZELF IN

      ;

## Opdracht 4: SQL JOIN [CODE]

Vul hieronder het SQL statement in om de tabellen aan elkaar te koppelen (een join maken). Je mag alle kolommen tonen, en hoeft geen speciale join te gebruiken (zoals inner/outer/left etc.)

Zorg dat je code werkt zonder errors, én dat je een zinnige join maakt (dus niet klantnummer op ordernummer gaan kopellen, maar wel klantnummer in tabelA op klantnummer uit tabelB).

**Bonusvraag** (*niet verplicht*, maar wel gewaardeerd):  Gebruik de aangemaakte **koppeltabel** om twee (data-)tabellen te verbinden voor de join-bewerking.

In [ ]:
%%sql
--- ... SCHRIJF HIER JULLIE SQL-QUERY

## Opdracht 5: Uitleg bij JOIN

Kijk naar wat er uit de query hierboven komt. Zorgt de koppeling ervoor dat er informatie wegvalt die wel in de originele tabellen stond? Zo ja, is dat een probleem of is daar een goede reden voor te geven? Zo nee, zou dat bij (meer) realistische data ook het geval zijn, dat er geen data wegvalt? Beschrijf ook als er informatie gedupliceerd wordt door je JOIN wat daar de reden voor is.

*... [Vul hier jullie antwoord(en) in] ...*

## Opdracht 6: SQL groeperen op catagorie [CODE]

Schrijf een SQL-satement waarmee je groepeert per categorie, en laat per categorie een interessante numerieke waarde zien. Bijvoorbeeld, als je een tabel met autos hebt, geef per automerk de gemiddelde prijs.

Dit mag op één van de originele tabellen, of op de gejoinde tabel.

Geef kort aan waarom die numerieke waarde interessant is in een business-context.

In [ ]:
%%sql
--- ... SCHRIJF HIER JULLIE SQL-QUERY

*...[Licht hier toe waarom de numerieke waarde interessant is in een business-context]...*

## Opdracht 7: Python werken met lists [CODE]

In opdracht 2 heb je je tabellen als verschillende 'lists' beschreven. Bijvoorbeeld de lijsten tabel1_klantid, tabel1_leeftlijd, etc.

**Voeg met behulp van *Python* code een nieuwe rij toe aan alle lists die één tabel vormen.**

Iedere list moet dus één extra element krijgen.

In [ ]:
# SCHRIJF HIERONDER DE PYTHON CODE VOOR DEZE OPDRACHT

## Opdracht 8: Python for-loop [CODE]

Schrijf Python code die, met behulp van een for-loop, de maximale waarde in een lijst kan vinden. Print deze maximale waarde vervolgens als onderdeel van  een zin.

*Bijvoorbeeld: als de lijst [15,38,51,23] is, zou je code iets moeten printen als "De hoogste waarde is 51".*

Gebruik als lijst de lijst met numerieke waarde uit opdracht 2.

In [ ]:
# SCHRIJF HIERONDER DE PYTHON CODE VOOR DEZE OPDRACHT

## Opdracht 9: Python sorteren [CODE]

We gebruiken opnieuw de lijst met numerieke waarden uit opdracht 2.

Schrijf Python code die:
*   Een gesorteerde lijst maakt **van groot naar klein** *(zonder .sort() te gebruiken!)*. Tip: maak een nieuwe lijst aan i.p.v. de originele te hersorteren.
*   Deze gesorteerde lijst vervolgens print.

In [ ]:
# SCHRIJF HIERONDER DE PYTHON CODE VOOR DEZE OPDRACHT

# Opdracht 10: Gemiddelde [CODE]

Voor een BI dashboard willen we graag wat basis-statistieken berekenen voor een verzameling data. We beginnen met het gemiddelde. Maak onderstaande functie af.

In [ ]:
# SCHRIJF HIERONDER DE PYTHON CODE VOOR DEZE OPDRACHT

def average(vals):
    # Schrijf hier de code voor het uitvoerende deel van de functie
    return

# Opdracht 11: Mediaan [CODE]
Een andere zinvolle maat is de mediaan - de middelste waarde nadata we de **lijst sorteren**. Als het midden tussen twee waardes valt, dan nemen we het gemiddelde van de middelste twee waardes.

De mediaan is zinvol omdat deze minder gevoelig is voor uitschieters - een gemiddelde waarde kan erg naar boven of beneden worden getrokken door een het toevoegen van een enkele waarde, alss deze extreem groot of klein is. De mediaan blijft in dit soort gevallen meer stabiel.

Schrijf zelf een functie `median(...)` om de mediaan te berekenen. Tip: we hebben in de lessen gezien hoe je met een index een waarde uit een lijst kan opvragen. Met de functie `len(...)` kun je de lengte van een lijst opvragen.

In [ ]:
# SCHRIJF HIERONDER DE PYTHON CODE VOOR DEZE OPDRACHT

# Opdracht 12: Kwartielen [CODE]
Met de mediaan heb je een goed beeld van het middelpunt van een reeks waardes, maar weet je nog niets van de spreiding.

Bijvoorbeeld: de mediaan van de kwartaal-omzet is 20K. Dit kan betekenen dat de omzet ieder kwartaal (vrijwel) exact 20K is, of dat deze regelmatig 0 is, maar ook regelmatig hoger dan 20K. Beide scenario's vragen een verschillende aanpak, dus het loont om dit verschil inzichtelijk te maken.

Een manier om dit te doen is de zogenaamde kwartielen te berekenen. Het eerste kwartiel is de mediaan van de eerste helft van de *(gesorteerde)* lijst, en het derde kwartiel is de mediaan van de tweede helft van de *(gesorteerde)* lijst.

Samen met het tweede kwartiel (de mediaan zelf) en de minimale / maximale waardes geeft dit een goed beeld van hoe de datapunten verspreid zijn.

Schrijf zelf de functies `q1(...)` en `q3(...)` voor het eerste en derde kwartiel.

In [ ]:
# SCHRIJF HIERONDER DE PYTHON CODE VOOR DEZE OPDRACHT

# Opdracht 13: Plot eigen data [CODE]
Kies een numerieke kolom in je eigen data. Pas de code aan met jouw eigen SQL query. Als het goed is wordt je data in een box-en-whisker-plot weergegeven. Probeer te beschrijven wat de plot over de data laat zien.

In [ ]:
# Vul hieronder bij result de SQL code in die slaat op jullie eigen data-tabellen:

import matplotlib.pyplot as plt
result = %sql SELECT price FROM sales_tabel; # <--- Pas dit aan!
data = [x[0] for x in result]

fig, ax = plt.subplots()
boxes = [{'whislo': min(data), 'q1': q1(data), 'med': median(data), 'q3': q3(data), 'whishi': max(data) }]
ax.bxp(boxes, showfliers=False)
plt.show()

*... [Vul hier jullie antwoord(en) in] ...*

## Opdracht 14: Business Intelligence in jullie casus

Wat voor BI-inzichten zouden interessant zijn in jullie casus? Doe deze opdracht aan de hand van deze drie stappen:

*    Beschrijf voor **wie** BI hier iets kan bijdragen (bijv. een manager, of iemand als een planner/adviseur).

*    Formuleer de *business* **vraag** die met BI beantwoord kan worden.

*    **Hoe zou dat eruit zien**: Beschrijf één KPI (een nuttig getal) of één visualisatie (nuttige grafiek/kaart/etc). **Wees concreet**: Hoe komt die KPI/visualisatie tot stand? Op basis van welke kolommen uit jullie tabellen?

*Je mag ook een afbeelding inleveren bij het laatste punt (of in dit notebook, of als bijlage op gradeworks).*

*... [Vul hier jullie antwoord(en) in] ...*

## Opdracht 15: Data Science algemeen

Leg in jullie eigen woorden uit wat classificatie, regressie en clustering is en geef van alle drie een voorbeeld.

*... [Vul hier jullie antwoord(en) in] ...*

## Opdracht 16: Data Science in jullie casus

Is er een data science toepassing te bedenken op basis van jullie tabellen (als ze meer rijen hadden)? Bijvoorbeeld het voorspellen van een waarde/categorie, of groeperen (clusteren) op een manier die mogelijk nuttige inzichten geeft.

*   Zo ja, beschrijf deze toepassing en leg uit welk type model (classificatie, regressie of clustering) gebruikt kan worden.

*   Zo nee, wat voor extra data (kolommen, of extra tabellen) zouden verzameld kunnen worden om wél een data science aanpak mogelijk te maken? Beschrijf vervolgens die mogelijke aanpak en leg uit welk type model (classificatie, regressie of clustering) nu gebruikt zou worden.

*... [Vul hier jullie antwoord(en) in] ...*

## Reflectie/samenwerking

Beschrijf hieronder kort hoe de samenwerking binnen het groepje geweest is.

*... [Vul hier jullie antwoord(en) in] ...*

## Inleverinstructies

Als je klaar bent, sla het notebook op voor de zekerheid (ctrl+s of file-->'Save'). Download daarna het notebook via het menu linksboven (file-->'Download'-->'Download .ipynb'),

**Inleveren**: Het uitgewerkte Jupyter Notebook (het .ipynb bestand) lever je **voor 20 oktober 23:59** op **Gradework** in. Let op dat je dus echt een **.ipynb** bestand inlevert. Let op dat je je groepsleden ook noemt in dit notebook.

## Vragen / Veel voorkomende fouten

**V:** Ik Krijg "UsageError: Cell magic `%%sql` not found".

**A:** Voer de code-cellen uit aan het begin van opdracht 3. Dit moet iedere keer als je het notebook herstart. Ook moet je je tabellen opnieuw aanmaken/vullen met de code die je (mogelijk) al hebt klaarstaan.

**V:** Ik krijg steeds syntax-fouten bij het SQL deel.

**A:** Let goed op dat je wel in een cel werkt die met %%sql begint. Daarnaast is het soms goed letten op haakjes en komma's...